/* confs globais */

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: block;
    block-size: auto;
    padding: 0;
    margin: 0;
    border-left: 2px groove gray;
}

a {
    color: black;
    text-decoration: none;
}

/* config. menu */

#menuTitle{
    display: flex;
    flex-direction: row;
}

.menu {
    color-scheme: whitesmoke white lightgray;
}

.menu.container {
    display: flex;
    flex-flow: column;
    background-color: #f5f5f5;
    border-radius: 0px 0px 8px 8px;
}

.menu.texts {
    display: inline-block;
    color: blue;
    width: 100%;
    height: 100px;
}

.menu.linkTexts {
    display: flex;
    flex-direction: row;
    float: none;
    width: 100%;
}

.linkButons{
    padding: 4px;
    margin: 4px;
}


.prymary {
    width: 100%;
    height: 100px;
}

.spaceBacground {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='74' height='74' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23cccccc' fill-opacity='0.25'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.25'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    height: 100px;
}

.spaceBacgroundFixed {
    background-color: #f5f5f5;
    box-shadow: 0 2px 7px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* fim config menu*/

/* config. conteudo */
.header {
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.header.ads {
    background-color: #f5f5f5;
}
.flow {
    width: 80%;
    max-width: 700px;
    height: auto;
    border-radius: 0px 0px 8px 8px;
    border-top: 0px;
    border-left: 0px ;
    border-right: 4px solid whitesmoke;
}


.tableau {
    margin: 8px;
    padding: 10px;
    border-radius: 8px ;
    background-color: #f5f5f5;
}

.textSpace {
    display: block;
    align-items: center;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px gray;
    margin: 10px;
    background-color: #f5f5f5;
}
.img.Capa {
    width: 25vh;
    display: flex;
    float: left;
    border-radius: 8px;
    padding: 0px;
    margin-right: 4px;
    box-shadow: 0px 0px 4px 8px whitesmoke;
}
.img.Space {
    width: 25vh;
    height: 100%;
    border-radius: 8px;
    padding: 10px;
}

.fluidText {
    display: block;
    float: right;
}

.title {
    padding: 0px;
    margin: 10px;
}
.resume {
    padding: 0px;
    margin: 10px;
}
.midtitle {
    padding: 0px;
    margin: 10px;
}
.prologue {
    padding: 0px;
    margin: 10px;
}

.post_date {
    float: inherit;
    text-align-last: right;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 4px;
}

.ads {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 5%;
}

.dataframe {
    width: min-content;
    height: 40px;
}

.bannerframe {
    width: fit-content;
    height: fit-content;
}

.frames {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.adsDescText {
    white-space: nowrap; 
    color: currentColor; 
    text-align: justify; 
    text-transform: capitalize; 
    text-overflow: ellipsis;
}

/* fim config. conteudo*/

/* Config navigation */

.header.navigation {
    display: flex;
    width: 100%;
    max-width: 150px;
    height: 100%;
}

.linkList {
    padding: 0px;
    display: flex;
    flex-direction: column;
    color: currentColor;
    text-decoration: none;
    width: 150px;
    height: 100%;
    border-right: 8px solid whitesmoke;
}

.links{
    padding: 0px;
    margin: 10px;
    padding: 4px;
    width: 100%;
    max-width: 150px;
    text-align: left;
    border-radius: 4px 4px;
    /*border: 2px groove gray;*/
    color: currentColor;
    background-color: whitesmoke;
    
}

.links{
cursor: pointer;
}

.links:hover{
color: red;
}

.links:active{
color: blue;
}

.links:hover {
    background-color: antiquewhite;
    -webkit-transition: opacity .5s .5s;
       -moz-transition: opacity .5s .5s;
        -ms-transition: opacity .5s .5s;
            transition: opacity .5s .5s;
    opacity: .5;
    overflow: .3;
}


.textLink {
    color: green;
}

.bi {
    color: green;
    padding: 0px;
    margin: 0px;
}
/* fim Config navigation */

/* Config Botoes */

.btn {
    border: 0px;
    width: 100%;
    color: cadetblue;
    
}
.btn:hover {
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.082);
    color: blue;
    background-color: #f5f5f5;
    -webkit-transition: opacity .5s .5s;
       -moz-transition: opacity .5s .5s;
        -ms-transition: opacity .5s .5s;
            transition: opacity .5s .5s;
    opacity: .5;
    overflow: .3;
}

/* fim Config Botoes */