:root {
    --backgroun-gradient: linear-gradient(to top, rgba(57, 43, 121, 0.1), rgba(255,255,255,1));
}

body {
    padding: 0; 
    margin: 0; 
    display:flex;
    flex-direction: column;
    object-fit: contain;
    min-width: 1000px;
    
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.25rem;
    font-size: large;
    letter-spacing: .0142857143em;
    font-weight: 500;
    color: #3c4043;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-around;
    background-image: var(--backgroun-gradient);
}

p {
    margin: auto;
    padding: 12px;
    text-align: justify;
}

li {
    padding: 4px;
    margin: auto;
    text-decoration: none;
    color: black;
    text-justify: distribute;
}

a {
    padding: 8px;
    text-decoration: none;
    color: black;
}

h1,h2{
    text-align: center;
    text-justify: distribute;
}

h3 {
    width: fit-content;
    margin: 6px;
}

/* Config dos blocos de layout da pagina */

.content {
    margin: 0px;
    padding: 10px;
    border:  1px solid rgba(128, 128, 128, 0.329);
}

.subContent {
    margin: 0;
    padding: 0px;
    border-left: 1px solid rgba(128, 128, 128, 0.329);
}

.menu {
    padding: 10px;
    margin: 0px;
}

.fixedbar {
    display: flex;
    flex-direction: row;
}

.divMenuDesc {
    display: flex;
    flex-direction: row;
}

.divMenuHead {
    display: flex;
    flex-direction: row;
}

.headerNav {
    max-width: 230px;
}

.footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footerContent {
    justify-content: flex-start;
}

.header {
    display:flex;
}

.headerFlow {
    margin-left: 22px;
}

#tittleFlow {
    padding: 12px;
    margin: 16px;
}

#flowTitle {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
    text-align: start;
}

    /* conf blocos de conteudo */

.conteudo {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 12px;

    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-image: var(--backgroun-gradient);
}


.sub-card {
    align-items: center;
}

.prev {
    max-height: 300px;
    padding: 4px 0px;
    margin: 0px 4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.prev:hover {
    width: 100%;
    height: 600px;
    position: absolute;
    cursor: pointer;
    color: #3c4043;
    background-color: whitesmoke;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    justify-self: center;
    margin: 8px;
    background-size: cover;
    background-blend-mode: color-burn;
    transition: all 1.4s;
}

.prologue{
    margin: 0px;
    padding: 0px;
}


.tileDown {
    display: flex;
    flex-direction: row;
}
    /* fim conf blocos de conteudo */

/* fim Config dos blocos de layout da pagina */

.bi {
    align-self: center;
}

/* config botoes */
.btn {
    display: flex;
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    border: 0;
    align-items: center;
    justify-content: space-between;
}
.btn:hover{
    box-shadow: 0px 0px 8px 0px rgba(16, 11, 68, 0.5);
    margin: 8px;
}
.bttMore{
    margin: 12px;
    padding: 4px;
    width: 100%;

    background-color: whitesmoke;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    border: 0;
}

.bttNav{
    padding: 8px 8px 8px 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid gray;
}

.bttSocial {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 8px 0;
    margin: 0;
    width: 100%;
    height: fit-content;
}

.bttLink {
    width: 10pc;
    height: 3pc;
    padding: 4px;
    margin-bottom: 10px;

    text-align: start;
    text-emphasis: 10px;
    font-weight: 100;
    font-size: x-large;
}

#bttLinkedin {
    color: darkblue;
}
#bttInstagram {
    color: purple;
}
#bttFacebook {
    color: blue;
}
#bttYoutube {
    color: red;
}

/* fim config botoes */

#textPrimary {
    text-align: right;
    border-radius: 2px;
    margin-left: 40%;
    padding: 12px;
    max-width: 40%;
    height: auto;
}
#textSecondary {
    text-align: left;
    border-radius: 2px;
    margin-right: 40%;
}
#textThirth {
    margin: auto;
    padding: auto;
    height: auto;
    max-width: 300px;
    min-width: 100px;
}

#brasaoBrApps {
    width: 10pc;
    height: auto;
    margin-left: 100px;
}

#flowObject {
    width: 100%;
    height: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
}


#prev-ai {
    background-image: url('../images/backgrounds/I-am-a-Machine.png');
    background-size: cover;
}

#prev-ti {
    background-image: url('../images/backgrounds/I-am-tech.png');
    background-size: cover;
}

#prev-net {
    background-image: url('../images/backgrounds/I-am-the-world.png');
    background-size: cover;
}

#prev-nature {
    background-image: url('../images/backgrounds/I-am-natural.png');
    background-size: cover;
}

#pTextual {
    align-self: center;
    max-width: 700px;
}