
body {
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .0142857143em;
    font-weight: 400;
    color: #3c4043;
    letter-spacing: normal;
    line-height: normal;
    background-color: whitesmoke;
    align-items: center;
    justify-content: left;
}

p, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

.card {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #f5f5f5;
    width: fit-content;
}

.texts{
    width: fit-content;
    margin: 4px;
    padding: 4px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.151);
}

img {
    margin: auto;
    display: flex;
  }

.profile-pict {
    border-radius: 100%;
}

#menuBar {
    display: block;
    width: 100%;
}

/*/* Main area */
.main-area {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    color: rgb(20, 66, 80);
}


/* profile-content */
#profile-content {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(28, 28, 59, 0.281);
    width:100%;
}

#profile-picture {
    margin: auto;
    padding: 4px;
    background-color: #f5f5f5;
    align-content: center;
    border-radius: 100%;
    width: 40%;
}

#profile-text {
    width: 100%;
}

#stats-content {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(28, 28, 59, 0.281);
    border-top: 0;
    margin: auto;
}

#stats-picture {
    display: flex;
    flex-direction: row;
}

#brapps-icon {
    margin: auto;
    padding: auto;
}

#stats-text {
    width: 100%;
}

#context-menu {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(28, 28, 59, 0.281);
    border-top: 0;
}

#describle-text {
    width:50%;
    background-color: #f5f5f5;
    height: 100%;
    border-right: 2px solid rgba(28, 28, 59, 0.281);
}

#describle-buttom {
    display: flex;
    width:50%;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
}

#btt-submit {
    border: 0;
    width: 80%;
    height: 60%;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.089);
}
#btt-submit:hover {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.267);
    border: 2px ridge black;
}

#social-content {
    display: flex;
    height: 250px;
    align-content: center;
    border: 1px solid rgba(28, 28, 59, 0.281);
}

#github-stats {
    display: flex;
    margin: auto;
    padding: auto;
    align-self: center;
}

.tags {
    width: fit-content;
    display:flex;
    flex-direction: column;
}

.tag {
    display: flex;
    width: fit-content;
    border-radius: 6px;
    margin: 4px;
    padding: 0;
}

#row0 {
    display: flex;
    flex-direction: row;
}

#tagHtml {
    margin-left: 8px;
    background-color: burlywood;
    border-radius: 6px;
}
#tagCss {
    margin-left: 8px;
    background-color: aqua;
}
#tagJs {
    margin-left: 8px;
    background-color: yellow;
}
.dvTagFirst {
    padding: 8px;
    margin: auto;
    width: 60%;
    float: left;
    background-color: rgba(255, 0, 0, 0.5);
    background-blend-mode: color-dodge;
    color: whitesmoke;
    border-radius: 6px 0px 0px 6px;
}
.dvTagLast {
    padding: 8px;
    margin: auto;
    width: 40%;
    float: right;
    background-color: rgba(0, 0, 255, 0.5);
    color: whitesmoke;
    border-radius: 0px 6px 6px 0px;
}

/*/* end Main area */
