body {
    font-family: Roboto,Arial,sans-serif;
    line-height: 1.25rem;
    font-size: large;
    letter-spacing: .0142857143em;
    font-weight: 400;
    color: #3c4043;
    letter-spacing: normal;
    line-height: normal;
    background-color: whitesmoke;
    align-items: center;
    justify-content: left;
}
a {
    padding: 8px;
    text-decoration: none;
    color: black;
}
h1,h2{
    text-align: center;
    text-justify: inter-cluster;
}
h3 {
    width: fit-content;
    margin: 12px;
}

p {
    text-align: justify;
    border-radius: 2px;
}

.prev {
    padding: 4px 0px;
    margin: 0px 4px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

/*########################################### class ###########################################*/

.card {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #f5f5f5;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.sub-card {
    align-items: center;
}

.prologue{
    margin: 12px;
    padding: 12px;
}

.btn {
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    border: 0;
    align-items: center;
    justify-items: center;
}
.bttMore {
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    border: 0;
}
.bttLink {
    text-align: start;
    text-emphasis: 10px;
    font-weight: 100;
    font-size: x-large;
}

.bttNav {
    border-bottom: 1px solid gray;
}

.content {
    border:  1px solid rgba(128, 128, 128, 0.329);
}

.subContent {
    border-left: 1px solid rgba(128, 128, 128, 0.329);
}

/*######################################## end class #########################################*/


/*########################################### id`s ###########################################*/

#tittleFlow {
    padding: 12px;
    margin: 16px;
}

/* property not in use
.backgroundCard {
    position: relative;
    z-index: 0;
    background-clip: content-box;
    background-repeat: no-repeat;
}*/

#textPrimary {
    text-align: right;
    border-radius: 2px;
    margin-left: 40%;
}

#textSecondary {
    text-align: left;
    border-radius: 2px;
    margin-right: 40%;
}

#bttLinkedin {
    color: darkblue;
}
#bttInstagram {
    color: purple;
}
#bttFacebook {
    color: blue;
}
#bttYoutube {
    color: red;
}

#pTextual {
    align-self: center;
    max-width: 700px;
}

/*########################################### id`s ###########################################*/