body {
    padding: 0; 
    margin: 0; 
    display:flex;
    flex-direction: column;
    object-fit: contain;
    min-width: 1000px;
}

p {
    margin: auto;
    padding: 12px;
}


/* Config dos blocos de layout da pagina */

.content {
    margin: 0px;
    padding: 10px;
    border:  1px solid rgba(128, 128, 128, 0.329);
}

.subContent {
    margin: 0;
    padding: 0px;
    border-left: 1px solid rgba(128, 128, 128, 0.329);
}

.menu {
    padding: 10px;
    margin: 0px;
    
}

.fixedbar {
    display: flex;
    flex-direction: row;
}

.divMenuDesc {
    display: flex;
    flex-direction: row;
    width: 20%;
    

}
.divMenuHead {
    display: flex;
    flex-direction: row;
    width: 80%;
}


.header {
    display:flex;
}

.headerFlow {
    width: 80%; 
    height: 100%; 
    margin-left: 22px;
}

#flowTitle {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
    text-align: start;
}

.headerNav {
    min-width: 60px;
    max-width: 230px;
}

.footer {
    height: 100px;
}

/* fim Config dos blocos de layout da pagina */


.card {
    padding: 16px;
    margin: 12px;
}

.tileDown {
    display: flex;
    flex-direction: row;
}

.bttMore{
    margin: 12px;
    padding: 4px;
    width: 100%;
}

.bttNav{
    margin: 12px;
    width: 100%;
    height: fit-content;
}

.bttSocial {
    margin: auto;
    width: 100%;
    height: fit-content;
}

.bttLink {
    width: 14pc;
    height: 4pc;
    padding: 12px;
    margin-bottom: 10px;
}

#textPrimary {
    margin: auto;
    padding: auto;
    max-width: 400px;
    height: auto;
}
#textThirth {
    margin: auto;
    padding: auto;
    height: auto;
    max-width: 300px;
    min-width: 100px;
}

#brasaoBrApps {
    width: 10pc;
    height: auto;
    margin-left: 100px;
}

